<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td width="35%">
        <%= link_to "←", user_path(date: @first_day.prev_month), class: "btn btn-info" %>
        <%= l(@first_day, format: :middle) %>&emsp;<span>時間管理表</span>
        <%= link_to "→", user_path(date: @first_day.next_month), class: "btn btn-info" %>
      </td>
      <td width="27%">指定勤務時間&emsp;<%= format_basic_info(@user.work_time) %></td>
      <td colspan="3">基本時間&emsp;<%= format_basic_info(@user.basic_time) %></td>
      <td width="12%">初日&emsp;<%= l(@first_day, format: :short) %></td>
    </tr>

    <tr>
      <td>所属&emsp;<%= @user.department.present? ? @user.department : "未所属" %></td>
      <td>氏名&emsp;<%= @user.name %></td>
      <td>コード</td>
      <td></td>
      <td>出勤日数</td>
      <td>締め&emsp;<%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th>日付</th>
        <th>曜日</th>
        <th>出社</th>
        <th>退社</th>
        <th>在社時間</th>
        <th>備考</th>
      </tr>
    </thead>
    
    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <td><%= l(day.worked_on, format: :short) %></td>
          <td><%= $days_of_the_week[day.worked_on.wday] %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>